.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color:#d2ff49;
  border-radius: 5px;
}

.link.active {
  color: #4ae8a9;
}
.nav{
  margin-left: 10px ;
}