.formStyle{
    display: flex;
    padding: 10px;
    margin-bottom: 10px;  
justify-content: center;
align-items: center;
gap: 10px;
    border-radius: 5px;
    width: 300px;
    background-color: white;
   border: 1px solid  #a477e0;
   flex-direction: column;
}

.fialdStyle{
display: block;
padding: 10px;

}

.field{
    display: block;
    padding: 10px;
    width: 250px;
    border: 3px solid #000000;
    border-radius: 5px;
}

.btn{
    display: block;
    padding: 10px;
    background-color:  #838383;
    border: 1px solid #d2ff49;
    border-radius: 5px;
    margin: 0 auto;
}
.btn:hover, .btn:focus, .btn:active{
   background-color:  rgb(105, 255, 208);
   color: rgb(165, 165, 165);
}
.err{
  background-color:  rgb(241, 138, 138);
  
}
.btnBlock{
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.btnDel{
       display: block;
    padding: 10px;
    background-color:  #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 0 auto;
}
.btnDel:hover, .btnDel:focus, .btnDel:active{
     background-color:  #41ffbd;
   color: white;
}