.modal{
   display: flex;
   gap: 30px;
   justify-content: center;
    background-color: #000000;
  
}

.btnYes{
background-color:white;
}
.btnNo:hover, .btnNo:focus, .btnNo:active{
   background-color: rgb(48, 251, 129);
   color: white;
}
.btnNo{
background-color:white;
}

 .btnYes:hover, .btnYes:focus, .btnYes:active{   
   background-color:  rgb(48, 251, 129);
}